@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Shadows+Into+Light&family=Stack+Sans+Headline:wght@200..700&display=swap');

@import "tailwindcss";

@theme {
  /* === Colors === */
  --color-primary: #137fec;
  --color-secondary: #2E8B57;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --text-light: #343A40;
  --text-dark: #F8F9FA;
  --border-light: #CED4DA;
  --border-dark: #343A40;


  /* === Font Families === */
  --font-inter: 'Inter', sans-serif;
  --font-shadows-into-light: 'Shadows Into Light', cursive;
  --font-stack-sans-headline: 'Stack Sans Headline', sans-serif;

  /* === Border Radius === */
  --radius: 0.25rem;
  /* DEFAULT */
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.6) 100%), url(./assets/heroImg.jpg);
}

.hero2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.6) 100%), url(./assets/project7.jpg);
}

.about-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.6) 100%), url(./assets/aboutHero.jpg);
  height: 100vh;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: -10px;
  width: 2px;
  background-color: #CED4DA;
  z-index: 0;
}

.timeline-item:last-child::before {
  display: none;
}

.timeline-dot {
  content: '';
  position: absolute;
  left: 0px;
  top: 5px;
  height: 22px;
  width: 22px;
  border: 4px solid #F8F9FA;
  background-color: #005A9C;
  border-radius: 9999px;
  z-index: 1;
}

.dark .timeline-item::before {
  background-color: #343A40;
}

.dark .timeline-dot {
  border-color: #101922;
}